processor-templates/discover-examples.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description></description><name>discover-examples</name><snippet><labels><id>023df5ca-fe5f-49ce-9808-b8f07d85e679</id><parentGroupId>6ccaa350-b75d-4652-bc47-f850ae46edc1</parentGroupId><position><x>960.579918732415</x><y>-4.907810223922866</y></position><height>245.99998474121094</height><label>Pulls down the Geo DB every 30 minutes and stores it in ./configuration-resources
which would be in the directory where you started NiFi
</label><style><entry><key>font-size</key><value>14px</value></entry></style><width>577.1998901367188</width></labels><labels><id>457447e0-fe73-4392-961b-4e3e25d2db3a</id><parentGroupId>6ccaa350-b75d-4652-bc47-f850ae46edc1</parentGroupId><position><x>203.0396614783852</x><y>-29.498247168027902</y></position><height>245.6050262451172</height><label>Contains examples of custom processors for Discover. Examples of Geo Enrich, JSON to 
Attributes[-list], and more.</label><style><entry><key>background-color</key><value>#91edff</value></entry><entry><key>font-size</key><value>12px</value></entry></style><width>558.5534057617188</width></labels><processGroups><id>6c5a1ba9-f267-41ac-aec5-dc8851d44c43</id><parentGroupId>6ccaa350-b75d-4652-bc47-f850ae46edc1</parentGroupId><position><x>262.4602377959053</x><y>308.1546531788994</y></position><activeRemotePortCount>0</activeRemotePortCount><comments></comments><contents><connections><id>a9b8f7f0-9ed4-41d1-9dca-6037977be527</id><parentGroupId>6c5a1ba9-f267-41ac-aec5-dc8851d44c43</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>6c5a1ba9-f267-41ac-aec5-dc8851d44c43</groupId><id>eb6e8072-6993-49aa-9650-3f4a1453d79b</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>6c5a1ba9-f267-41ac-aec5-dc8851d44c43</groupId><id>c892cb9e-ca41-41cc-b40e-db2405be7df9</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>8bbd6bb2-7d5a-469a-86c7-de7edab71ff2</id><parentGroupId>6c5a1ba9-f267-41ac-aec5-dc8851d44c43</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>618a2634-9fca-4c9b-a96e-8f2d24e77f9c</groupId><id>cf33f222-9388-43a3-ac35-e8d573172a97</id><type>INPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>some.other.enrichment</selectedRelationships><source><groupId>6c5a1ba9-f267-41ac-aec5-dc8851d44c43</groupId><id>eb6e8072-6993-49aa-9650-3f4a1453d79b</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>133044db-4e5b-4d88-aaf7-323651dd5652</id><parentGroupId>6c5a1ba9-f267-41ac-aec5-dc8851d44c43</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>6c5a1ba9-f267-41ac-aec5-dc8851d44c43</groupId><id>c892cb9e-ca41-41cc-b40e-db2405be7df9</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>6c5a1ba9-f267-41ac-aec5-dc8851d44c43</groupId><id>c9ad10ed-8cb8-4957-80b5-91341b6e62cf</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>d945c155-f1ca-4bdb-ac33-410b0b146430</id><parentGroupId>6c5a1ba9-f267-41ac-aec5-dc8851d44c43</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>151e7a40-49dc-45c4-a146-671e79aceb2a</groupId><id>cb456c2a-6791-40c0-9efd-875c06351975</id><type>INPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>ip.enrichment</selectedRelationships><source><groupId>6c5a1ba9-f267-41ac-aec5-dc8851d44c43</groupId><id>eb6e8072-6993-49aa-9650-3f4a1453d79b</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>5b30eb52-e4fb-464c-aa52-62abf803ea90</id><parentGroupId>6c5a1ba9-f267-41ac-aec5-dc8851d44c43</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3ea276da-6a0e-4a8f-9b16-a924aa9d1cc5</groupId><id>ad9770ca-6ac4-43fb-b98a-f59df2b6766a</id><type>INPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>bogus.enrichment</selectedRelationships><source><groupId>6c5a1ba9-f267-41ac-aec5-dc8851d44c43</groupId><id>eb6e8072-6993-49aa-9650-3f4a1453d79b</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><processGroups><id>618a2634-9fca-4c9b-a96e-8f2d24e77f9c</id><parentGroupId>6c5a1ba9-f267-41ac-aec5-dc8851d44c43</parentGroupId><position><x>516.0940482729533</x><y>556.3864467330923</y></position><activeRemotePortCount>0</activeRemotePortCount><comments></comments><contents><inputPorts><id>cf33f222-9388-43a3-ac35-e8d573172a97</id><parentGroupId>618a2634-9fca-4c9b-a96e-8f2d24e77f9c</parentGroupId><position><x>161.00002357945334</x><y>199.9999949395971</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>Some Other IP Enrichment</name><state>STOPPED</state><type>INPUT_PORT</type><validationErrors>'Port 'Some Other IP Enrichment'' is invalid because Output connection for port 'Some Other IP Enrichment' is not defined.</validationErrors></inputPorts></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>1</inputPortCount><invalidCount>1</invalidCount><name>Some Other IP Enrichment</name><outputPortCount>0</outputPortCount><parent><id>6c5a1ba9-f267-41ac-aec5-dc8851d44c43</id><name>Attribute Router Example</name><parent><id>6ccaa350-b75d-4652-bc47-f850ae46edc1</id><name>NiFi Flow</name></parent></parent><runningCount>0</runningCount><stoppedCount>0</stoppedCount></processGroups><processGroups><id>3ea276da-6a0e-4a8f-9b16-a924aa9d1cc5</id><parentGroupId>6c5a1ba9-f267-41ac-aec5-dc8851d44c43</parentGroupId><position><x>-436.1766119909946</x><y>550.318598564868</y></position><activeRemotePortCount>0</activeRemotePortCount><comments></comments><contents><inputPorts><id>ad9770ca-6ac4-43fb-b98a-f59df2b6766a</id><parentGroupId>3ea276da-6a0e-4a8f-9b16-a924aa9d1cc5</parentGroupId><position><x>121.00000086300929</x><y>167.999995049243</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>Bogus Enrichment Input</name><state>STOPPED</state><type>INPUT_PORT</type><validationErrors>'Port 'Bogus Enrichment Input'' is invalid because Output connection for port 'Bogus Enrichment Input' is not defined.</validationErrors></inputPorts></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>1</inputPortCount><invalidCount>1</invalidCount><name>Bogus Enrichment</name><outputPortCount>0</outputPortCount><parent><id>6c5a1ba9-f267-41ac-aec5-dc8851d44c43</id><name>Attribute Router Example</name><parent><id>6ccaa350-b75d-4652-bc47-f850ae46edc1</id><name>NiFi Flow</name></parent></parent><runningCount>0</runningCount><stoppedCount>0</stoppedCount></processGroups><processGroups><id>151e7a40-49dc-45c4-a146-671e79aceb2a</id><parentGroupId>6c5a1ba9-f267-41ac-aec5-dc8851d44c43</parentGroupId><position><x>17.841721444063978</x><y>625.4157054984618</y></position><activeRemotePortCount>0</activeRemotePortCount><comments></comments><contents><inputPorts><id>cb456c2a-6791-40c0-9efd-875c06351975</id><parentGroupId>151e7a40-49dc-45c4-a146-671e79aceb2a</parentGroupId><position><x>55.00000086300929</x><y>415.999995049243</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>IP Enrichment Input</name><state>STOPPED</state><type>INPUT_PORT</type><validationErrors>'Port 'IP Enrichment Input'' is invalid because Output connection for port 'IP Enrichment Input' is not defined.</validationErrors></inputPorts><processors><id>38ea2ee0-0bf7-4a1d-bd1f-1c7a0303064c</id><parentGroupId>151e7a40-49dc-45c4-a146-671e79aceb2a</parentGroupId><position><x>946.0000008630093</x><y>380.999995049243</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Geo Database File</key><value><description>Path to Maxmind Geo Enrichment Database File</description><displayName>Geo Database File</displayName><dynamic>false</dynamic><name>Geo Database File</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>IP Address Attribute</key><value><description>The name of an attribute whose value is a dotted decimal IP address for which enrichment should occur</description><displayName>IP Address Attribute</displayName><dynamic>false</dynamic><name>IP Address Attribute</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Geo Database File</key><value>./configuration-resources/GeoLite2-City.mmdb</value></entry><entry><key>IP Address Attribute</key><value>input.ip</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>GeoEnrichIP</name><relationships><autoTerminate>false</autoTerminate><description>Where to route flow files after successfully enriching attributes with geo data</description><name>found</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Where to route flow files after unsuccessfully enriching attributes because no geo data was found</description><name>not found</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.GeoEnrichIP</type></processors></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>1</inputPortCount><invalidCount>2</invalidCount><name>Geo IP Enrichment</name><outputPortCount>0</outputPortCount><parent><id>6c5a1ba9-f267-41ac-aec5-dc8851d44c43</id><name>Attribute Router Example</name><parent><id>6ccaa350-b75d-4652-bc47-f850ae46edc1</id><name>NiFi Flow</name></parent></parent><runningCount>0</runningCount><stoppedCount>0</stoppedCount></processGroups><processors><id>eb6e8072-6993-49aa-9650-3f4a1453d79b</id><parentGroupId>6c5a1ba9-f267-41ac-aec5-dc8851d44c43</parentGroupId><position><x>14.00000086300929</x><y>366.999995049243</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Routing Strategy</key><value><allowableValues><description>A copy of the FlowFile will be routed to each relationship whose corresponding expression evaluates to 'true'</description><displayName>Route to Property name</displayName><value>Route to Property name</value></allowableValues><allowableValues><description>Requires that all user-defined expressions evaluate to 'true' for the FlowFile to be considered a match</description><displayName>Route to 'matched' if all match</displayName><value>Route to 'match' if all match</value></allowableValues><allowableValues><description>Requires that at least one user-defined expression evaluate to 'true' for hte FlowFile to be considered a match</description><displayName>Route to 'matched' if any matches</displayName><value>Route to 'match' if any matches</value></allowableValues><defaultValue>Route to Property name</defaultValue><description>Specifies how to determine which relationship to use when evaluating the Expression Language</description><displayName>Routing Strategy</displayName><dynamic>false</dynamic><name>Routing Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>bogus.enrichment</key><value><description></description><displayName>bogus.enrichment</displayName><dynamic>true</dynamic><name>bogus.enrichment</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>ip.enrichment</key><value><description></description><displayName>ip.enrichment</displayName><dynamic>true</dynamic><name>ip.enrichment</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>some.other.enrichment</key><value><description></description><displayName>some.other.enrichment</displayName><dynamic>true</dynamic><name>some.other.enrichment</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Routing Strategy</key><value>Route to Property name</value></entry><entry><key>bogus.enrichment</key><value>${anyMatchingAttribute(&quot;something&quot;):notNull()}</value></entry><entry><key>ip.enrichment</key><value>${anyMatchingAttribute(&quot;.*_ip&quot;):notNull()
:and(${anyMatchingAttribute(&quot;.*_ip&quot;):isEmpty():not()})}</value></entry><entry><key>some.other.enrichment</key><value>${attribute-list:contains('http_inet_address_ip')}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>RouteOnAttribute</name><relationships><autoTerminate>false</autoTerminate><description></description><name>bogus.enrichment</name></relationships><relationships><autoTerminate>false</autoTerminate><description></description><name>ip.enrichment</name></relationships><relationships><autoTerminate>false</autoTerminate><description></description><name>some.other.enrichment</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that do not match any user-define expression will be routed here</description><name>unmatched</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.RouteOnAttribute</type></processors><processors><id>c892cb9e-ca41-41cc-b40e-db2405be7df9</id><parentGroupId>6c5a1ba9-f267-41ac-aec5-dc8851d44c43</parentGroupId><position><x>14.000000863009276</x><y>195.999995049243</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>dest_ip</key><value><description></description><displayName>dest_ip</displayName><dynamic>true</dynamic><name>dest_ip</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>source_ip</key><value><description></description><displayName>source_ip</displayName><dynamic>true</dynamic><name>source_ip</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>dest_ip</key><value>50.93.251.80</value></entry><entry><key>source_ip</key><value>${ip()}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>UpdateAttribute</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>c9ad10ed-8cb8-4957-80b5-91341b6e62cf</id><parentGroupId>6c5a1ba9-f267-41ac-aec5-dc8851d44c43</parentGroupId><position><x>13.00000086300929</x><y>24.99999504924301</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>File Size</key><value><description>The size of the file that will be used</description><displayName>File Size</displayName><dynamic>false</dynamic><name>File Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>1</defaultValue><description>The number of FlowFiles to be transferred in each invocation</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Data Format</key><value><allowableValues><displayName>Binary</displayName><value>Binary</value></allowableValues><allowableValues><displayName>Text</displayName><value>Text</value></allowableValues><defaultValue>Binary</defaultValue><description>Specifies whether the data should be Text or Binary</description><displayName>Data Format</displayName><dynamic>false</dynamic><name>Data Format</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Unique FlowFiles</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, each FlowFile that is generated will be unique. If false, a random value will be generated and all FlowFiles will get the same content but this offers much higher throughput</description><displayName>Unique FlowFiles</displayName><dynamic>false</dynamic><name>Unique FlowFiles</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>File Size</key><value>0 B</value></entry><entry><key>Batch Size</key><value>1</value></entry><entry><key>Data Format</key><value>Binary</value></entry><entry><key>Unique FlowFiles</key><value>false</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>15 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>GenerateFlowFile</name><relationships><autoTerminate>false</autoTerminate><description></description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.GenerateFlowFile</type></processors></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>0</inputPortCount><invalidCount>4</invalidCount><name>Attribute Router Example</name><outputPortCount>0</outputPortCount><parent><id>6ccaa350-b75d-4652-bc47-f850ae46edc1</id><name>NiFi Flow</name></parent><runningCount>0</runningCount><stoppedCount>3</stoppedCount></processGroups><processGroups><id>be12eabd-89f8-4194-9358-d92c3ee076f4</id><parentGroupId>6ccaa350-b75d-4652-bc47-f850ae46edc1</parentGroupId><position><x>264.8841201396714</x><y>55.67123915132578</y></position><activeRemotePortCount>0</activeRemotePortCount><comments></comments><contents><connections><id>441e9561-16be-4544-b13f-cd7b220260ba</id><parentGroupId>be12eabd-89f8-4194-9358-d92c3ee076f4</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>be12eabd-89f8-4194-9358-d92c3ee076f4</groupId><id>95659e1b-dac9-4223-98de-b9153c59874b</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>db89a196-d06e-444a-b778-d8140fe613c4</groupId><id>01684afd-55ca-4ae2-a89c-9f09b8b1706b</id><type>OUTPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>04dafe1e-7056-4e59-80ff-15579d45488f</id><parentGroupId>be12eabd-89f8-4194-9358-d92c3ee076f4</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>be12eabd-89f8-4194-9358-d92c3ee076f4</groupId><id>021ad0f8-9010-4c96-9bfa-c9cf122afbc4</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>matched</selectedRelationships><source><groupId>be12eabd-89f8-4194-9358-d92c3ee076f4</groupId><id>8d24c2b0-2a14-4efc-b4bc-f0e10e5b8e94</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>dfcdf0b4-c165-4b48-8a0b-711d4b5cbdfe</id><parentGroupId>be12eabd-89f8-4194-9358-d92c3ee076f4</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>be12eabd-89f8-4194-9358-d92c3ee076f4</groupId><id>f009520a-0046-49c0-85e6-a2f6135e532c</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>be12eabd-89f8-4194-9358-d92c3ee076f4</groupId><id>ef3b25cf-b278-402f-b69e-4c7e97ffd004</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>3e227037-d712-459f-9ae1-6a970eaf9bb9</id><parentGroupId>be12eabd-89f8-4194-9358-d92c3ee076f4</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>aeed4dc9-e3e4-46d0-931b-ab1bdfc35762</groupId><id>c7295b2a-bfeb-47bf-a8ba-83a76728944d</id><type>INPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>enrich.ip</selectedRelationships><source><groupId>be12eabd-89f8-4194-9358-d92c3ee076f4</groupId><id>021ad0f8-9010-4c96-9bfa-c9cf122afbc4</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>e473a98f-d706-4407-abfb-54545402e0dd</id><parentGroupId>be12eabd-89f8-4194-9358-d92c3ee076f4</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>be12eabd-89f8-4194-9358-d92c3ee076f4</groupId><id>cf4afb7b-5313-41de-a333-8fd8e83f9d8e</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>be12eabd-89f8-4194-9358-d92c3ee076f4</groupId><id>95659e1b-dac9-4223-98de-b9153c59874b</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>27b9d846-cb48-4bf9-8625-c81a4d1fd53d</id><parentGroupId>be12eabd-89f8-4194-9358-d92c3ee076f4</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>be12eabd-89f8-4194-9358-d92c3ee076f4</groupId><id>8d24c2b0-2a14-4efc-b4bc-f0e10e5b8e94</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>found.ip</selectedRelationships><source><groupId>be12eabd-89f8-4194-9358-d92c3ee076f4</groupId><id>59ed93b1-64f7-4a2b-9b45-b1c05a8367b8</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>70cd3d24-5e39-428b-b1c8-037658f63cd8</id><parentGroupId>be12eabd-89f8-4194-9358-d92c3ee076f4</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>be12eabd-89f8-4194-9358-d92c3ee076f4</groupId><id>d9010828-c96b-4709-ab04-58c892e7d74f</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>aeed4dc9-e3e4-46d0-931b-ab1bdfc35762</groupId><id>0082b9d7-725a-406b-a37b-96d23c7af81c</id><type>OUTPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>b9fb020e-8a51-4143-b50f-082af58a8300</id><parentGroupId>be12eabd-89f8-4194-9358-d92c3ee076f4</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>be12eabd-89f8-4194-9358-d92c3ee076f4</groupId><id>59ed93b1-64f7-4a2b-9b45-b1c05a8367b8</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>db89a196-d06e-444a-b778-d8140fe613c4</groupId><id>01684afd-55ca-4ae2-a89c-9f09b8b1706b</id><type>OUTPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>11a17058-3ae6-4664-9f20-76d350bc732d</id><parentGroupId>be12eabd-89f8-4194-9358-d92c3ee076f4</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>be12eabd-89f8-4194-9358-d92c3ee076f4</groupId><id>ef3b25cf-b278-402f-b69e-4c7e97ffd004</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>be12eabd-89f8-4194-9358-d92c3ee076f4</groupId><id>cf4afb7b-5313-41de-a333-8fd8e83f9d8e</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>ec650c2c-1fa2-48f8-9739-88701db69ea2</id><parentGroupId>be12eabd-89f8-4194-9358-d92c3ee076f4</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>be12eabd-89f8-4194-9358-d92c3ee076f4</groupId><id>59ed93b1-64f7-4a2b-9b45-b1c05a8367b8</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>be12eabd-89f8-4194-9358-d92c3ee076f4</groupId><id>95659e1b-dac9-4223-98de-b9153c59874b</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><processGroups><id>aeed4dc9-e3e4-46d0-931b-ab1bdfc35762</id><parentGroupId>be12eabd-89f8-4194-9358-d92c3ee076f4</parentGroupId><position><x>180.96003296585423</x><y>363.4599700323108</y></position><activeRemotePortCount>0</activeRemotePortCount><comments></comments><contents><connections><id>ab69501f-ee59-4718-9863-a77080fb4bee</id><parentGroupId>aeed4dc9-e3e4-46d0-931b-ab1bdfc35762</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>aeed4dc9-e3e4-46d0-931b-ab1bdfc35762</groupId><id>048ba0a5-ec28-4296-9beb-8a966ac7ddce</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>aeed4dc9-e3e4-46d0-931b-ab1bdfc35762</groupId><id>c7295b2a-bfeb-47bf-a8ba-83a76728944d</id><type>INPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>b9874cee-6b11-4a28-86ee-d1001a83287f</id><parentGroupId>aeed4dc9-e3e4-46d0-931b-ab1bdfc35762</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>aeed4dc9-e3e4-46d0-931b-ab1bdfc35762</groupId><id>0082b9d7-725a-406b-a37b-96d23c7af81c</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>aeed4dc9-e3e4-46d0-931b-ab1bdfc35762</groupId><id>a7a72e26-94c1-47cc-aa5e-010942d75113</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>26620d44-7853-4ab4-be53-38ed5551694e</id><parentGroupId>aeed4dc9-e3e4-46d0-931b-ab1bdfc35762</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>aeed4dc9-e3e4-46d0-931b-ab1bdfc35762</groupId><id>9970ea2b-56a3-46b6-a47d-fb06cfdd1915</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>found</selectedRelationships><source><groupId>aeed4dc9-e3e4-46d0-931b-ab1bdfc35762</groupId><id>048ba0a5-ec28-4296-9beb-8a966ac7ddce</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>c0c5ca67-4d57-4246-922d-7ac46181dd7d</id><parentGroupId>aeed4dc9-e3e4-46d0-931b-ab1bdfc35762</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>aeed4dc9-e3e4-46d0-931b-ab1bdfc35762</groupId><id>a7a72e26-94c1-47cc-aa5e-010942d75113</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>aeed4dc9-e3e4-46d0-931b-ab1bdfc35762</groupId><id>9970ea2b-56a3-46b6-a47d-fb06cfdd1915</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><inputPorts><id>c7295b2a-bfeb-47bf-a8ba-83a76728944d</id><parentGroupId>aeed4dc9-e3e4-46d0-931b-ab1bdfc35762</parentGroupId><position><x>77.99999749312622</x><y>27.00001546690271</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>Enrich Host Port</name><state>RUNNING</state><type>INPUT_PORT</type></inputPorts><outputPorts><id>0082b9d7-725a-406b-a37b-96d23c7af81c</id><parentGroupId>aeed4dc9-e3e4-46d0-931b-ab1bdfc35762</parentGroupId><position><x>553.9999974931262</x><y>544.0000078375082</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>Done Enriching Host IP</name><state>RUNNING</state><type>OUTPUT_PORT</type></outputPorts><processors><id>a7a72e26-94c1-47cc-aa5e-010942d75113</id><parentGroupId>aeed4dc9-e3e4-46d0-931b-ab1bdfc35762</parentGroupId><position><x>477.9888890946887</x><y>355.4337541753988</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Script Engine</key><value><allowableValues><displayName>ECMAScript</displayName><value>ECMAScript</value></allowableValues><allowableValues><displayName>Groovy</displayName><value>Groovy</value></allowableValues><allowableValues><displayName>lua</displayName><value>lua</value></allowableValues><allowableValues><displayName>python</displayName><value>python</value></allowableValues><allowableValues><displayName>ruby</displayName><value>ruby</value></allowableValues><defaultValue>ECMAScript</defaultValue><description>The engine to execute scripts</description><displayName>Script Engine</displayName><dynamic>false</dynamic><name>Script Engine</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Script File</key><value><description>Path to script file to execute. Only one of Script File or Script Body may be used</description><displayName>Script File</displayName><dynamic>false</dynamic><name>Script File</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Script Body</key><value><description>Body of script to execute. Only one of Script File or Script Body may be used</description><displayName>Script Body</displayName><dynamic>false</dynamic><name>Script Body</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Module Directory</key><value><description>Comma-separated list of paths to files and/or directories which contain modules required by the script.</description><displayName>Module Directory</displayName><dynamic>false</dynamic><name>Module Directory</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Script Engine</key><value>Groovy</value></entry><entry><key>Script File</key></entry><entry><key>Script Body</key><value>import org.apache.commons.io.IOUtils
import java.nio.charset.*

def flowFile = session.get();
if (flowFile == null) {
    return;
}

def inJson = null

session.read(flowFile, { input -&gt;
  def content = input.text
  inJson = new groovy.json.JsonSlurper().parseText(content)
})

inJson &lt;&lt; flowFile.getAttributes();

flowFile = session.write(flowFile, {inputStream, out -&gt;
    out.write(groovy.json.JsonOutput.toJson(inJson).getBytes());
} as StreamCallback)

session.transfer(flowFile, ExecuteScript.REL_SUCCESS)</value></entry><entry><key>Module Directory</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Add Geo Enrichment Data to JSON</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that failed to be processed</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles that were successfully processed</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>false</supportsParallelProcessing><type>org.apache.nifi.processors.script.ExecuteScript</type></processors><processors><id>048ba0a5-ec28-4296-9beb-8a966ac7ddce</id><parentGroupId>aeed4dc9-e3e4-46d0-931b-ab1bdfc35762</parentGroupId><position><x>481.9999974931262</x><y>-7.9999921624918215</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Geo Database File</key><value><description>Path to Maxmind Geo Enrichment Database File</description><displayName>Geo Database File</displayName><dynamic>false</dynamic><name>Geo Database File</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>IP Address Attribute</key><value><description>The name of an attribute whose value is a dotted decimal IP address for which enrichment should occur</description><displayName>IP Address Attribute</displayName><dynamic>false</dynamic><name>IP Address Attribute</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Geo Database File</key><value>./configuration-resources/GeoLite2-City.mmdb</value></entry><entry><key>IP Address Attribute</key><value>host.ip</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Enrich Host IP</name><relationships><autoTerminate>false</autoTerminate><description>Where to route flow files after successfully enriching attributes with geo data</description><name>found</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Where to route flow files after unsuccessfully enriching attributes because no geo data was found</description><name>not found</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.GeoEnrichIP</type></processors><processors><id>9970ea2b-56a3-46b6-a47d-fb06cfdd1915</id><parentGroupId>aeed4dc9-e3e4-46d0-931b-ab1bdfc35762</parentGroupId><position><x>479.23600812529367</x><y>174.88520074581007</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key><value>^(?!filename$)(?!host.ip).*</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>UpdateAttribute</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>1</inputPortCount><invalidCount>0</invalidCount><name>Enrich Host IP</name><outputPortCount>1</outputPortCount><parent><id>be12eabd-89f8-4194-9358-d92c3ee076f4</id><name>JSON to Attribute List Example</name><parent><id>6ccaa350-b75d-4652-bc47-f850ae46edc1</id><name>NiFi Flow</name></parent></parent><runningCount>5</runningCount><stoppedCount>0</stoppedCount></processGroups><processGroups><id>db89a196-d06e-444a-b778-d8140fe613c4</id><parentGroupId>be12eabd-89f8-4194-9358-d92c3ee076f4</parentGroupId><position><x>-58.38833192115169</x><y>-423.59066697004994</y></position><activeRemotePortCount>0</activeRemotePortCount><comments></comments><contents><connections><id>83d7b6db-a87e-4f27-8ffd-73a6635b8c55</id><parentGroupId>db89a196-d06e-444a-b778-d8140fe613c4</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>db89a196-d06e-444a-b778-d8140fe613c4</groupId><id>01684afd-55ca-4ae2-a89c-9f09b8b1706b</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>db89a196-d06e-444a-b778-d8140fe613c4</groupId><id>b245e57e-9448-445d-85f2-4c7f48cfb727</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>d4dfc992-4ed6-46bc-b257-45d1c4aade09</id><parentGroupId>db89a196-d06e-444a-b778-d8140fe613c4</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>db89a196-d06e-444a-b778-d8140fe613c4</groupId><id>b245e57e-9448-445d-85f2-4c7f48cfb727</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>db89a196-d06e-444a-b778-d8140fe613c4</groupId><id>1097d9d1-7ae5-40c6-b59e-b5078a1259a3</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><labels><id>de3c167f-6610-42c6-82b4-1dcd9078e409</id><parentGroupId>db89a196-d06e-444a-b778-d8140fe613c4</parentGroupId><position><x>536.000002630367</x><y>49.00000722360585</y></position><height>627.0</height><label>Generate a flow file with some json every 15 seconds.</label><style><entry><key>font-size</key><value>12px</value></entry></style><width>417.0</width></labels><outputPorts><id>01684afd-55ca-4ae2-a89c-9f09b8b1706b</id><parentGroupId>db89a196-d06e-444a-b778-d8140fe613c4</parentGroupId><position><x>655.999987371578</x><y>584.0000072236058</y></position><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>Generated JSON</name><state>STOPPED</state><type>OUTPUT_PORT</type></outputPorts><processors><id>b245e57e-9448-445d-85f2-4c7f48cfb727</id><parentGroupId>db89a196-d06e-444a-b778-d8140fe613c4</parentGroupId><position><x>581.999987371578</x><y>341.46772652011526</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Script Engine</key><value><allowableValues><displayName>ECMAScript</displayName><value>ECMAScript</value></allowableValues><allowableValues><displayName>Groovy</displayName><value>Groovy</value></allowableValues><allowableValues><displayName>lua</displayName><value>lua</value></allowableValues><allowableValues><displayName>python</displayName><value>python</value></allowableValues><allowableValues><displayName>ruby</displayName><value>ruby</value></allowableValues><defaultValue>ECMAScript</defaultValue><description>The engine to execute scripts</description><displayName>Script Engine</displayName><dynamic>false</dynamic><name>Script Engine</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Script File</key><value><description>Path to script file to execute. Only one of Script File or Script Body may be used</description><displayName>Script File</displayName><dynamic>false</dynamic><name>Script File</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Script Body</key><value><description>Body of script to execute. Only one of Script File or Script Body may be used</description><displayName>Script Body</displayName><dynamic>false</dynamic><name>Script Body</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Module Directory</key><value><description>Comma-separated list of paths to files and/or directories which contain modules required by the script.</description><displayName>Module Directory</displayName><dynamic>false</dynamic><name>Module Directory</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Script Engine</key><value>Groovy</value></entry><entry><key>Script File</key></entry><entry><key>Script Body</key><value>import org.apache.commons.io.IOUtils
import java.nio.charset.*

def flowFile = session.get();
if (flowFile == null) {
    return;
}

def content = &quot;{\n&quot; +
            &quot;  \&quot;@timestamp\&quot;: \&quot;2016-03-24T15:04:18.759Z\&quot;,\n&quot; +
            &quot;  \&quot;@version\&quot;: 1,\n&quot; +
            &quot;  \&quot;message\&quot;: \&quot;Initiated GET /api/auth/ping HTTP/1.1 from with RequestIdentifier{clientId=ae65a2800fee6c231f7d7f118f65ba76281f38aeb09b6755ad9e86c5134f791b, inetAddress=199.38.154.9, sessionId=VTlFQ0w0RXpxdEJHRzdYVEVVVWlwbkVtQWtBPQ, characteristics={User-Agent=DiscoverMobile/331 CFNetwork/711.2.23 Darwin/14.0.0, Accept=*/*}}\&quot;,\n&quot; +
            &quot;  \&quot;logger_name\&quot;: \&quot;com.discover.common.web.filters.RequestIdentifierLoggingFilter\&quot;,\n&quot; +
            &quot;  \&quot;thread_name\&quot;: \&quot;WebContainer : 0\&quot;,\n&quot; +
            &quot;  \&quot;level\&quot;: \&quot;INFO\&quot;,\n&quot; +
            &quot;  \&quot;level_value\&quot;: 20000,\n&quot; +
            &quot;  \&quot;application\&quot;: \&quot;authentication-api\&quot;,\n&quot; +
            &quot;  \&quot;hostname\&quot;: \&quot;rwlqa151.ihsdev.discoverfinancial.com\&quot;,\n&quot; +
            &quot;  \&quot;runtime\&quot;: \&quot;Inet8TSYS/inet8-tsys-n1/iBankAuthenticationAPI1\&quot;,\n&quot; +
            &quot;  \&quot;pid\&quot;: 0,\n&quot; +
            &quot;  \&quot;trace_id\&quot;: \&quot;c24af8bc-de6f-3333-893c-2a499f3987e5\&quot;,\n&quot; +
            &quot;  \&quot;request-id\&quot;: \&quot;c24af8bc-de6f-3333-893c-2a499f3987e5\&quot;,\n&quot; +
            &quot;  \&quot;caller_class_name\&quot;: \&quot;com.discover.common.web.filters.RequestIdentifierLoggingFilter\&quot;,\n&quot; +
            &quot;  \&quot;caller_method_name\&quot;: \&quot;doFilter\&quot;,\n&quot; +
            &quot;  \&quot;caller_file_name\&quot;: \&quot;RequestIdentifierLoggingFilter.java\&quot;,\n&quot; +
            &quot;  \&quot;caller_line_number\&quot;: 59,\n&quot; +
            &quot;  \&quot;host\&quot;: \&quot;50.93.251.80\&quot;,\n&quot; +
            &quot;  \&quot;port\&quot;: 33111,\n&quot; +
            &quot;  \&quot;type\&quot;: \&quot;application\&quot;\n&quot; +
            &quot;}\n&quot;;


flowFile = session.write(flowFile, {inputStream, out -&gt;
    out.write(content.getBytes());
} as StreamCallback)

session.transfer(flowFile, ExecuteScript.REL_SUCCESS)</value></entry><entry><key>Module Directory</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ExecuteScript</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that failed to be processed</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles that were successfully processed</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>false</supportsParallelProcessing><type>org.apache.nifi.processors.script.ExecuteScript</type></processors><processors><id>1097d9d1-7ae5-40c6-b59e-b5078a1259a3</id><parentGroupId>db89a196-d06e-444a-b778-d8140fe613c4</parentGroupId><position><x>581.3417158846228</x><y>96.00000722360585</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>File Size</key><value><description>The size of the file that will be used</description><displayName>File Size</displayName><dynamic>false</dynamic><name>File Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>1</defaultValue><description>The number of FlowFiles to be transferred in each invocation</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Data Format</key><value><allowableValues><displayName>Binary</displayName><value>Binary</value></allowableValues><allowableValues><displayName>Text</displayName><value>Text</value></allowableValues><defaultValue>Binary</defaultValue><description>Specifies whether the data should be Text or Binary</description><displayName>Data Format</displayName><dynamic>false</dynamic><name>Data Format</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Unique FlowFiles</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, each FlowFile that is generated will be unique. If false, a random value will be generated and all FlowFiles will get the same content but this offers much higher throughput</description><displayName>Unique FlowFiles</displayName><dynamic>false</dynamic><name>Unique FlowFiles</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>File Size</key><value>0 B</value></entry><entry><key>Batch Size</key><value>1</value></entry><entry><key>Data Format</key><value>Binary</value></entry><entry><key>Unique FlowFiles</key><value>false</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>15 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>GenerateFlowFile</name><relationships><autoTerminate>false</autoTerminate><description></description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.GenerateFlowFile</type></processors></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>0</inputPortCount><invalidCount>0</invalidCount><name>Generate JSON Data</name><outputPortCount>1</outputPortCount><parent><id>be12eabd-89f8-4194-9358-d92c3ee076f4</id><name>JSON to Attribute List Example</name><parent><id>6ccaa350-b75d-4652-bc47-f850ae46edc1</id><name>NiFi Flow</name></parent></parent><runningCount>0</runningCount><stoppedCount>3</stoppedCount></processGroups><processors><id>d9010828-c96b-4709-ab04-58c892e7d74f</id><parentGroupId>be12eabd-89f8-4194-9358-d92c3ee076f4</parentGroupId><position><x>759.9180150425988</x><y>377.9856440470119</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Directory</key><value><description>The directory to which files should be written. You may use expression language such as /aa/bb/${path}</description><displayName>Directory</displayName><dynamic>false</dynamic><name>Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Conflict Resolution Strategy</key><value><allowableValues><displayName>replace</displayName><value>replace</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>fail</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Conflict Resolution Strategy</displayName><dynamic>false</dynamic><name>Conflict Resolution Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Create Missing Directories</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>If true, then missing destination directories will be created. If false, flowfiles are penalized and sent to failure.</description><displayName>Create Missing Directories</displayName><dynamic>false</dynamic><name>Create Missing Directories</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Count</key><value><description>Specifies the maximum number of files that can exist in the output directory</description><displayName>Maximum File Count</displayName><dynamic>false</dynamic><name>Maximum File Count</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Last Modified Time</key><value><description>Sets the lastModifiedTime on the output file to the value of this attribute.  Format must be yyyy-MM-dd'T'HH:mm:ssZ.  You may also use expression language such as ${file.lastModifiedTime}.</description><displayName>Last Modified Time</displayName><dynamic>false</dynamic><name>Last Modified Time</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Permissions</key><value><description>Sets the permissions on the output file to the value of this attribute.  Format must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--) or an octal number (e.g. 644).  You may also use expression language such as ${file.permissions}.</description><displayName>Permissions</displayName><dynamic>false</dynamic><name>Permissions</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Owner</key><value><description>Sets the owner on the output file to the value of this attribute.  You may also use expression language such as ${file.owner}.</description><displayName>Owner</displayName><dynamic>false</dynamic><name>Owner</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Group</key><value><description>Sets the group on the output file to the value of this attribute.  You may also use expression language such as ${file.group}.</description><displayName>Group</displayName><dynamic>false</dynamic><name>Group</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Directory</key><value>/json-to-attributes/processed-enriched</value></entry><entry><key>Conflict Resolution Strategy</key><value>replace</value></entry><entry><key>Create Missing Directories</key><value>true</value></entry><entry><key>Maximum File Count</key></entry><entry><key>Last Modified Time</key></entry><entry><key>Permissions</key></entry><entry><key>Owner</key></entry><entry><key>Group</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutFile</name><relationships><autoTerminate>true</autoTerminate><description>Files that could not be written to the output directory for some reason are transferred to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Files that have been successfully written to the output directory are transferred to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.PutFile</type></processors><processors><id>59ed93b1-64f7-4a2b-9b45-b1c05a8367b8</id><parentGroupId>be12eabd-89f8-4194-9358-d92c3ee076f4</parentGroupId><position><x>233.81905981484897</x><y>-170.17837749068258</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Routing Strategy</key><value><allowableValues><description>A copy of the FlowFile will be routed to each relationship whose corresponding expression evaluates to 'true'</description><displayName>Route to Property name</displayName><value>Route to Property name</value></allowableValues><allowableValues><description>Requires that all user-defined expressions evaluate to 'true' for the FlowFile to be considered a match</description><displayName>Route to 'matched' if all match</displayName><value>Route to 'match' if all match</value></allowableValues><allowableValues><description>Requires that at least one user-defined expression evaluate to 'true' for hte FlowFile to be considered a match</description><displayName>Route to 'matched' if any matches</displayName><value>Route to 'match' if any matches</value></allowableValues><defaultValue>Route to Property name</defaultValue><description>Specifies how to determine which relationship to use when evaluating the Expression Language</description><displayName>Routing Strategy</displayName><dynamic>false</dynamic><name>Routing Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>found.ip</key><value><description></description><displayName>found.ip</displayName><dynamic>true</dynamic><name>found.ip</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Routing Strategy</key></entry><entry><key>found.ip</key><value>${anyDelineatedValue(${attribute-list}, ','):equals('host')}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Check Attribute Lists</name><relationships><autoTerminate>false</autoTerminate><description></description><name>found.ip</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that do not match any user-define expression will be routed here</description><name>unmatched</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.RouteOnAttribute</type></processors><processors><id>ef3b25cf-b278-402f-b69e-4c7e97ffd004</id><parentGroupId>be12eabd-89f8-4194-9358-d92c3ee076f4</parentGroupId><position><x>-332.96825873017303</x><y>151.67806660386384</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Attributes List</key><value><description>Comma separated list of attributes to be included in the resulting JSON. If this value is left empty then all existing Attributes will be included. This list of attributes is case sensitive. If an attribute specified in the list is not found it will be be emitted to the resulting JSON with an empty string or NULL value.</description><displayName>Attributes List</displayName><dynamic>false</dynamic><name>Attributes List</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Destination</key><value><allowableValues><displayName>flowfile-attribute</displayName><value>flowfile-attribute</value></allowableValues><allowableValues><displayName>flowfile-content</displayName><value>flowfile-content</value></allowableValues><defaultValue>flowfile-attribute</defaultValue><description>Control if JSON value is written as a new flowfile attribute 'JSONAttributes' or written in the flowfile content. Writing to flowfile content will overwrite any existing flowfile content.</description><displayName>Destination</displayName><dynamic>false</dynamic><name>Destination</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Include Core Attributes</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Determines if the FlowFile org.apache.nifi.flowfile.attributes.CoreAttributes which are contained in every FlowFile should be included in the final JSON value generated.</description><displayName>Include Core Attributes</displayName><dynamic>false</dynamic><name>Include Core Attributes</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Null Value</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true a non existing or empty attribute will be NULL in the resulting JSON. If false an empty string will be placed in the JSON</description><displayName>Null Value</displayName><dynamic>false</dynamic><name>Null Value</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Attributes List</key><value>${attribute-list}</value></entry><entry><key>Destination</key><value>flowfile-content</value></entry><entry><key>Include Core Attributes</key><value>true</value></entry><entry><key>Null Value</key><value>false</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>AttributesToNestedJSON</name><relationships><autoTerminate>true</autoTerminate><description>Failed to convert attributes to JSON</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Successfully converted attributes to JSON</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.discover.cls.processors.cls.AttributesToTypedJSON</type></processors><processors><id>021ad0f8-9010-4c96-9bfa-c9cf122afbc4</id><parentGroupId>be12eabd-89f8-4194-9358-d92c3ee076f4</parentGroupId><position><x>228.3514302937117</x><y>158.69070142836716</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Routing Strategy</key><value><allowableValues><description>A copy of the FlowFile will be routed to each relationship whose corresponding expression evaluates to 'true'</description><displayName>Route to Property name</displayName><value>Route to Property name</value></allowableValues><allowableValues><description>Requires that all user-defined expressions evaluate to 'true' for the FlowFile to be considered a match</description><displayName>Route to 'matched' if all match</displayName><value>Route to 'match' if all match</value></allowableValues><allowableValues><description>Requires that at least one user-defined expression evaluate to 'true' for hte FlowFile to be considered a match</description><displayName>Route to 'matched' if any matches</displayName><value>Route to 'match' if any matches</value></allowableValues><defaultValue>Route to Property name</defaultValue><description>Specifies how to determine which relationship to use when evaluating the Expression Language</description><displayName>Routing Strategy</displayName><dynamic>false</dynamic><name>Routing Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>enrich.ip</key><value><description></description><displayName>enrich.ip</displayName><dynamic>true</dynamic><name>enrich.ip</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Routing Strategy</key><value>Route to Property name</value></entry><entry><key>enrich.ip</key><value>${host.ip:isEmpty():not()}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>RouteOnAttribute</name><relationships><autoTerminate>false</autoTerminate><description></description><name>enrich.ip</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that do not match any user-define expression will be routed here</description><name>unmatched</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.RouteOnAttribute</type></processors><processors><id>cf4afb7b-5313-41de-a333-8fd8e83f9d8e</id><parentGroupId>be12eabd-89f8-4194-9358-d92c3ee076f4</parentGroupId><position><x>-314.0899664114054</x><y>-9.807656832915825</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors/><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties/><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Convert JSON to Attributes</name><relationships><autoTerminate>true</autoTerminate><description>Failed converting JSON to attributes.</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Successfully converted JSON to attributes.</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.discover.cls.processors.cls.JSONToAttributes</type></processors><processors><id>95659e1b-dac9-4223-98de-b9153c59874b</id><parentGroupId>be12eabd-89f8-4194-9358-d92c3ee076f4</parentGroupId><position><x>-304.43677796019847</x><y>-171.2282521170714</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Attribute List Separator</key><value><defaultValue>,</defaultValue><description>The separator that will be used separate the keys of the parsed JSON.</description><displayName>Attribute List Separator</displayName><dynamic>false</dynamic><name>Attribute List Separator</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Attribute List Separator</key><value>,</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Extract Top Level JSON Keys Names as attribute-list</name><relationships><autoTerminate>true</autoTerminate><description>Failed converting JSON to attributes.</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Successfully converted JSON to attributes.</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.discover.cls.processors.cls.JSONKeysToAttributeList</type></processors><processors><id>8d24c2b0-2a14-4efc-b4bc-f0e10e5b8e94</id><parentGroupId>be12eabd-89f8-4194-9358-d92c3ee076f4</parentGroupId><position><x>233.31691479328083</x><y>-1.4062606309634589</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Destination</key><value><allowableValues><displayName>flowfile-content</displayName><value>flowfile-content</value></allowableValues><allowableValues><displayName>flowfile-attribute</displayName><value>flowfile-attribute</value></allowableValues><defaultValue>flowfile-content</defaultValue><description>Indicates whether the results of the JsonPath evaluation are written to the FlowFile content or a FlowFile attribute; if using attribute, must specify the Attribute Name property. If set to flowfile-content, only one JsonPath may be specified, and the property name is ignored.</description><displayName>Destination</displayName><dynamic>false</dynamic><name>Destination</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Return Type</key><value><allowableValues><displayName>auto-detect</displayName><value>auto-detect</value></allowableValues><allowableValues><displayName>json</displayName><value>json</value></allowableValues><allowableValues><displayName>scalar</displayName><value>scalar</value></allowableValues><defaultValue>auto-detect</defaultValue><description>Indicates the desired return type of the JSON Path expressions.  Selecting 'auto-detect' will set the return type to 'json' for a Destination of 'flowfile-content', and 'scalar' for a Destination of 'flowfile-attribute'.</description><displayName>Return Type</displayName><dynamic>false</dynamic><name>Return Type</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Path Not Found Behavior</key><value><allowableValues><displayName>warn</displayName><value>warn</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><defaultValue>ignore</defaultValue><description>Indicates how to handle missing JSON path expressions when destination is set to 'flowfile-attribute'. Selecting 'warn' will generate a warning when a JSON path expression is not found.</description><displayName>Path Not Found Behavior</displayName><dynamic>false</dynamic><name>Path Not Found Behavior</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Null Value Representation</key><value><allowableValues><displayName>empty string</displayName><value>empty string</value></allowableValues><allowableValues><displayName>the string 'null'</displayName><value>the string 'null'</value></allowableValues><defaultValue>empty string</defaultValue><description>Indicates the desired representation of JSON Path expressions resulting in a null value.</description><displayName>Null Value Representation</displayName><dynamic>false</dynamic><name>Null Value Representation</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>host.ip</key><value><description></description><displayName>host.ip</displayName><dynamic>true</dynamic><name>host.ip</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Destination</key><value>flowfile-attribute</value></entry><entry><key>Return Type</key><value>auto-detect</value></entry><entry><key>Path Not Found Behavior</key><value>ignore</value></entry><entry><key>Null Value Representation</key><value>empty string</value></entry><entry><key>host.ip</key><value>$.host</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>EvaluateJsonPath</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath cannot be evaluated against the content of the FlowFile; for instance, if the FlowFile is not valid JSON</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath is successfully evaluated and the FlowFile is modified as a result</description><name>matched</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath does not match the content of the FlowFile and the Destination is set to flowfile-content</description><name>unmatched</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.EvaluateJsonPath</type></processors><processors><id>f009520a-0046-49c0-85e6-a2f6135e532c</id><parentGroupId>be12eabd-89f8-4194-9358-d92c3ee076f4</parentGroupId><position><x>-356.4907145106239</x><y>327.1652399942775</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Directory</key><value><description>The directory to which files should be written. You may use expression language such as /aa/bb/${path}</description><displayName>Directory</displayName><dynamic>false</dynamic><name>Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Conflict Resolution Strategy</key><value><allowableValues><displayName>replace</displayName><value>replace</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>fail</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Conflict Resolution Strategy</displayName><dynamic>false</dynamic><name>Conflict Resolution Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Create Missing Directories</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>If true, then missing destination directories will be created. If false, flowfiles are penalized and sent to failure.</description><displayName>Create Missing Directories</displayName><dynamic>false</dynamic><name>Create Missing Directories</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Count</key><value><description>Specifies the maximum number of files that can exist in the output directory</description><displayName>Maximum File Count</displayName><dynamic>false</dynamic><name>Maximum File Count</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Last Modified Time</key><value><description>Sets the lastModifiedTime on the output file to the value of this attribute.  Format must be yyyy-MM-dd'T'HH:mm:ssZ.  You may also use expression language such as ${file.lastModifiedTime}.</description><displayName>Last Modified Time</displayName><dynamic>false</dynamic><name>Last Modified Time</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Permissions</key><value><description>Sets the permissions on the output file to the value of this attribute.  Format must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--) or an octal number (e.g. 644).  You may also use expression language such as ${file.permissions}.</description><displayName>Permissions</displayName><dynamic>false</dynamic><name>Permissions</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Owner</key><value><description>Sets the owner on the output file to the value of this attribute.  You may also use expression language such as ${file.owner}.</description><displayName>Owner</displayName><dynamic>false</dynamic><name>Owner</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Group</key><value><description>Sets the group on the output file to the value of this attribute.  You may also use expression language such as ${file.group}.</description><displayName>Group</displayName><dynamic>false</dynamic><name>Group</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Directory</key><value>/json-to-attributes/processed</value></entry><entry><key>Conflict Resolution Strategy</key><value>replace</value></entry><entry><key>Create Missing Directories</key><value>true</value></entry><entry><key>Maximum File Count</key></entry><entry><key>Last Modified Time</key></entry><entry><key>Permissions</key></entry><entry><key>Owner</key></entry><entry><key>Group</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutFile</name><relationships><autoTerminate>true</autoTerminate><description>Files that could not be written to the output directory for some reason are transferred to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Files that have been successfully written to the output directory are transferred to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.PutFile</type></processors></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>0</inputPortCount><invalidCount>0</invalidCount><name>JSON to Attribute List Example</name><outputPortCount>0</outputPortCount><parent><id>6ccaa350-b75d-4652-bc47-f850ae46edc1</id><name>NiFi Flow</name></parent><runningCount>13</runningCount><stoppedCount>3</stoppedCount></processGroups><processGroups><id>879bed2d-9b0d-467f-82e1-c013d3f4786d</id><parentGroupId>6ccaa350-b75d-4652-bc47-f850ae46edc1</parentGroupId><position><x>1000.0596647336597</x><y>47.08465084190243</y></position><activeRemotePortCount>0</activeRemotePortCount><comments></comments><contents><connections><id>62619761-1215-48e1-8b70-f466a3aca39f</id><parentGroupId>879bed2d-9b0d-467f-82e1-c013d3f4786d</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>879bed2d-9b0d-467f-82e1-c013d3f4786d</groupId><id>d79a0468-92ca-4e69-87c9-6ca57717c503</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>879bed2d-9b0d-467f-82e1-c013d3f4786d</groupId><id>43247269-ffae-45fd-aec6-592d4c3b75ef</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>6db1242d-1ed8-4923-a7fc-d1bb73e1041e</id><parentGroupId>879bed2d-9b0d-467f-82e1-c013d3f4786d</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>-146.94597709438347</x><y>473.07756053241235</y></bends><bends><x>-146.94597709438347</x><y>523.0775605324123</y></bends><destination><groupId>879bed2d-9b0d-467f-82e1-c013d3f4786d</groupId><id>8e794544-6784-42fc-8321-d8cb02b4429b</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>879bed2d-9b0d-467f-82e1-c013d3f4786d</groupId><id>8e794544-6784-42fc-8321-d8cb02b4429b</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>add8279f-86f6-4770-9600-4c3caf15eb5e</id><parentGroupId>879bed2d-9b0d-467f-82e1-c013d3f4786d</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>879bed2d-9b0d-467f-82e1-c013d3f4786d</groupId><id>fec44117-c6f9-4b5f-8dbb-33314d1d89e0</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>879bed2d-9b0d-467f-82e1-c013d3f4786d</groupId><id>d79a0468-92ca-4e69-87c9-6ca57717c503</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>351371be-a55a-4779-a043-96266c5d6ab2</id><parentGroupId>879bed2d-9b0d-467f-82e1-c013d3f4786d</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>879bed2d-9b0d-467f-82e1-c013d3f4786d</groupId><id>8e794544-6784-42fc-8321-d8cb02b4429b</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>879bed2d-9b0d-467f-82e1-c013d3f4786d</groupId><id>fec44117-c6f9-4b5f-8dbb-33314d1d89e0</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><processors><id>8e794544-6784-42fc-8321-d8cb02b4429b</id><parentGroupId>879bed2d-9b0d-467f-82e1-c013d3f4786d</parentGroupId><position><x>-555.9459770943835</x><y>448.07756053241235</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Directory</key><value><description>The directory to which files should be written. You may use expression language such as /aa/bb/${path}</description><displayName>Directory</displayName><dynamic>false</dynamic><name>Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Conflict Resolution Strategy</key><value><allowableValues><displayName>replace</displayName><value>replace</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>fail</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Conflict Resolution Strategy</displayName><dynamic>false</dynamic><name>Conflict Resolution Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Create Missing Directories</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>If true, then missing destination directories will be created. If false, flowfiles are penalized and sent to failure.</description><displayName>Create Missing Directories</displayName><dynamic>false</dynamic><name>Create Missing Directories</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Count</key><value><description>Specifies the maximum number of files that can exist in the output directory</description><displayName>Maximum File Count</displayName><dynamic>false</dynamic><name>Maximum File Count</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Last Modified Time</key><value><description>Sets the lastModifiedTime on the output file to the value of this attribute.  Format must be yyyy-MM-dd'T'HH:mm:ssZ.  You may also use expression language such as ${file.lastModifiedTime}.</description><displayName>Last Modified Time</displayName><dynamic>false</dynamic><name>Last Modified Time</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Permissions</key><value><description>Sets the permissions on the output file to the value of this attribute.  Format must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--) or an octal number (e.g. 644).  You may also use expression language such as ${file.permissions}.</description><displayName>Permissions</displayName><dynamic>false</dynamic><name>Permissions</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Owner</key><value><description>Sets the owner on the output file to the value of this attribute.  You may also use expression language such as ${file.owner}.</description><displayName>Owner</displayName><dynamic>false</dynamic><name>Owner</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Group</key><value><description>Sets the group on the output file to the value of this attribute.  You may also use expression language such as ${file.group}.</description><displayName>Group</displayName><dynamic>false</dynamic><name>Group</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Directory</key><value>./configuration-resources</value></entry><entry><key>Conflict Resolution Strategy</key><value>replace</value></entry><entry><key>Create Missing Directories</key><value>true</value></entry><entry><key>Maximum File Count</key></entry><entry><key>Last Modified Time</key></entry><entry><key>Permissions</key></entry><entry><key>Owner</key></entry><entry><key>Group</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Write Enrichment Dataset to Disk</name><relationships><autoTerminate>false</autoTerminate><description>Files that could not be written to the output directory for some reason are transferred to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Files that have been successfully written to the output directory are transferred to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.PutFile</type></processors><processors><id>43247269-ffae-45fd-aec6-592d4c3b75ef</id><parentGroupId>879bed2d-9b0d-467f-82e1-c013d3f4786d</parentGroupId><position><x>-550.0964441333723</x><y>-100.8962041469373</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>URL</key><value><description>The URL to pull from</description><displayName>URL</displayName><dynamic>false</dynamic><name>URL</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Filename</key><value><description>The filename to assign to the file when pulled</description><displayName>Filename</displayName><dynamic>false</dynamic><name>Filename</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>SSL Context Service</key><value><description>The Controller Service to use in order to obtain an SSL Context</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Username</key><value><description>Username required to access the URL</description><displayName>Username</displayName><dynamic>false</dynamic><name>Username</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Password</key><value><description>Password required to access the URL</description><displayName>Password</displayName><dynamic>false</dynamic><name>Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Connection Timeout</key><value><defaultValue>30 sec</defaultValue><description>How long to wait when attempting to connect to the remote server before giving up</description><displayName>Connection Timeout</displayName><dynamic>false</dynamic><name>Connection Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Data Timeout</key><value><defaultValue>30 sec</defaultValue><description>How long to wait between receiving segments of data from the remote server before giving up and discarding the partial file</description><displayName>Data Timeout</displayName><dynamic>false</dynamic><name>Data Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>User Agent</key><value><description>What to report as the User Agent when we connect to the remote server</description><displayName>User Agent</displayName><dynamic>false</dynamic><name>User Agent</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Accept Content-Type</key><value><description>If specified, requests will only accept the provided Content-Type</description><displayName>Accept Content-Type</displayName><dynamic>false</dynamic><name>Accept Content-Type</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Follow Redirects</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If we receive a 3xx HTTP Status Code from the server, indicates whether or not we should follow the redirect that the server specifies</description><displayName>Follow Redirects</displayName><dynamic>false</dynamic><name>Follow Redirects</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Proxy Host</key><value><description>The fully qualified hostname or IP address of the proxy server</description><displayName>Proxy Host</displayName><dynamic>false</dynamic><name>Proxy Host</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Proxy Port</key><value><description>The port of the proxy server</description><displayName>Proxy Port</displayName><dynamic>false</dynamic><name>Proxy Port</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>URL</key><value>http://geolite.maxmind.com/download/geoip/database/GeoLite2-City.mmdb.gz</value></entry><entry><key>Filename</key><value>GeoLite2-City.mmdb.gz</value></entry><entry><key>SSL Context Service</key></entry><entry><key>Username</key></entry><entry><key>Password</key></entry><entry><key>Connection Timeout</key><value>30 sec</value></entry><entry><key>Data Timeout</key><value>30 sec</value></entry><entry><key>User Agent</key></entry><entry><key>Accept Content-Type</key></entry><entry><key>Follow Redirects</key><value>false</value></entry><entry><key>Proxy Host</key></entry><entry><key>Proxy Port</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>30 mins</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Fetch Geo Enrichment Dataset</name><relationships><autoTerminate>false</autoTerminate><description>All files are transferred to the success relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.GetHTTP</type></processors><processors><id>fec44117-c6f9-4b5f-8dbb-33314d1d89e0</id><parentGroupId>879bed2d-9b0d-467f-82e1-c013d3f4786d</parentGroupId><position><x>-555.9459770943835</x><y>272.07756053241235</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Mode</key><value><allowableValues><displayName>compress</displayName><value>compress</value></allowableValues><allowableValues><displayName>decompress</displayName><value>decompress</value></allowableValues><defaultValue>compress</defaultValue><description>Indicates whether the processor should compress content or decompress content. Must be either 'compress' or 'decompress'</description><displayName>Mode</displayName><dynamic>false</dynamic><name>Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Compression Format</key><value><allowableValues><displayName>use mime.type attribute</displayName><value>use mime.type attribute</value></allowableValues><allowableValues><displayName>gzip</displayName><value>gzip</value></allowableValues><allowableValues><displayName>bzip2</displayName><value>bzip2</value></allowableValues><allowableValues><displayName>xz-lzma2</displayName><value>xz-lzma2</value></allowableValues><allowableValues><displayName>lzma</displayName><value>lzma</value></allowableValues><allowableValues><displayName>snappy</displayName><value>snappy</value></allowableValues><allowableValues><displayName>snappy framed</displayName><value>snappy framed</value></allowableValues><defaultValue>use mime.type attribute</defaultValue><description>The compression format to use. Valid values are: GZIP, BZIP2, XZ-LZMA2, LZMA, Snappy, and Snappy Framed</description><displayName>Compression Format</displayName><dynamic>false</dynamic><name>Compression Format</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Compression Level</key><value><allowableValues><displayName>0</displayName><value>0</value></allowableValues><allowableValues><displayName>1</displayName><value>1</value></allowableValues><allowableValues><displayName>2</displayName><value>2</value></allowableValues><allowableValues><displayName>3</displayName><value>3</value></allowableValues><allowableValues><displayName>4</displayName><value>4</value></allowableValues><allowableValues><displayName>5</displayName><value>5</value></allowableValues><allowableValues><displayName>6</displayName><value>6</value></allowableValues><allowableValues><displayName>7</displayName><value>7</value></allowableValues><allowableValues><displayName>8</displayName><value>8</value></allowableValues><allowableValues><displayName>9</displayName><value>9</value></allowableValues><defaultValue>1</defaultValue><description>The compression level to use; this is valid only when using GZIP compression. A lower value results in faster processing but less compression; a value of 0 indicates no compression but simply archiving</description><displayName>Compression Level</displayName><dynamic>false</dynamic><name>Compression Level</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Update Filename</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, will remove the filename extension when decompressing data (only if the extension indicates the appropriate compression format) and add the appropriate extension when compressing data</description><displayName>Update Filename</displayName><dynamic>false</dynamic><name>Update Filename</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Mode</key><value>decompress</value></entry><entry><key>Compression Format</key><value>use mime.type attribute</value></entry><entry><key>Compression Level</key><value>1</value></entry><entry><key>Update Filename</key><value>true</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Decompress Dataset if Needed</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles will be transferred to the failure relationship if they fail to compress/decompress</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles will be transferred to the success relationship after successfully being compressed or decompressed</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.CompressContent</type></processors><processors><id>d79a0468-92ca-4e69-87c9-6ca57717c503</id><parentGroupId>879bed2d-9b0d-467f-82e1-c013d3f4786d</parentGroupId><position><x>-556.9459770943835</x><y>101.07756053241235</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors/><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties/><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Check if Dataset Compressed</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to success</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.IdentifyMimeType</type></processors></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>0</inputPortCount><invalidCount>0</invalidCount><name>Gather Enrichment Dataset</name><outputPortCount>0</outputPortCount><parent><id>6ccaa350-b75d-4652-bc47-f850ae46edc1</id><name>NiFi Flow</name></parent><runningCount>0</runningCount><stoppedCount>4</stoppedCount></processGroups></snippet><timestamp>09/08/2016 09:21:24 CDT</timestamp></template>